@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100;1,300&family=Noto+Sans+TC:wght@300&family=Outfit:wght@200;400&family=Poppins:ital,wght@0,400;0,500;1,300;1,400&display=swap");
.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: var(--bgColor);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

textarea {
  resize: none;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
/* 使用@each 產出css size設定 */
.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

/* 使用@each 產出css spacer設定 */
.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mr-0 {
  margin-right: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-0 {
  margin-left: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.m-1 {
  margin: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m-5 {
  margin: 1.25rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mr-5 {
  margin-right: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-5 {
  margin-left: 1.25rem;
}

.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.m-6 {
  margin: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.m-7 {
  margin: 1.75rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mr-7 {
  margin-right: 1.75rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.ml-7 {
  margin-left: 1.75rem;
}

.mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.m-8 {
  margin: 2rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-8 {
  margin-right: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pl-0 {
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pr-3 {
  padding-right: 0.75rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pl-3 {
  padding-left: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pl-4 {
  padding-left: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pr-5 {
  padding-right: 1.25rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pr-6 {
  padding-right: 1.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pl-6 {
  padding-left: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.p-7 {
  padding: 1.75rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pr-7 {
  padding-right: 1.75rem;
}

.pb-7 {
  padding-bottom: 1.75rem;
}

.pl-7 {
  padding-left: 1.75rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.p-8 {
  padding: 2rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pr-8 {
  padding-right: 2rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-8 {
  padding-left: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --orange: #ff6600;
  --blue: #0099ff;
  --pink: #FF9AD5;
  --red-errorSign: #FC5A5A;
  --gray-disabledSign: #D5D5DC ;
  --bgColor: var(--white);
  --mainColor: #1c1c1c;
  --formBgColor: #f5f8fa;
  --secondaryTextColor: #657786;
  --placeholderTextColor: #b5b5be;
  --contentTextColor: #171725;
  --messageTextColor: #6c757d;
  --borderColor: #e6ecf0;
  --recommendBgColor: #fafafb;
}

.template-center-alignment {
  margin: 0 auto;
}

.user-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.user-acount {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #92929d;
}

.y-scroll {
  overflow-y: scroll;
}

#login-container,
#regist-container,
#admin-login-container {
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 69px auto 0 auto;
}
#login-container .logo-img,
#regist-container .logo-img,
#admin-login-container .logo-img {
  width: 40px;
  height: 40px;
}
#login-container h1,
#regist-container h1,
#admin-login-container h1 {
  margin-top: 24px;
  font-weight: 700;
  font-size: 28px;
}

.form-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.form-container .form-element-group {
  position: relative;
  margin-bottom: 32px;
}
.form-container label {
  position: absolute;
  background-color: var(--formBgColor);
  color: var(--secondaryTextColor);
  font-weight: normal;
  font-size: 14px;
  font-weight: 400;
  left: 10.55px;
  top: 5px;
}
.form-container input {
  border: none;
  width: 356px;
  height: 54px;
  background-color: var(--formBgColor);
  border-radius: 2px;
  border-bottom: 2px solid var(--secondaryTextColor);
  padding: 5px 10.55px;
}
.form-container input:hover, .form-container input:active {
  border-bottom: 2px solid var(--blue);
}
.form-container input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--contentTextColor);
  color: var(--placeholderTextColor);
}
.form-container input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--contentTextColor);
  color: var(--placeholderTextColor);
}
.form-container input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--contentTextColor);
  color: var(--placeholderTextColor);
}
.form-container .main-btn-style {
  width: 100%;
  color: var(--white);
  background-color: var(--orange);
  height: 46px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 22px;
}
.form-container .main-btn-style:hover, .form-container .main-btn-style:active {
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}
.form-container .admin-text-link-container {
  width: 100%;
  display: block;
}
.form-container .submit-other-choice {
  color: var(--blue);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#navbar-container {
  width: 178px;
  display: flex;
  flex-direction: column;
}
#navbar-container .logo-img {
  width: 40px;
  height: 40px;
  margin: 13px;
}
#navbar-container .nav-list {
  margin-top: 29px;
  margin-left: 13px;
}
#navbar-container .nav-list .nav-link {
  display: flex;
  align-items: center;
}
#navbar-container .nav-list-bottom {
  position: absolute;
  margin-bottom: -24px;
  bottom: 0;
}
#navbar-container .nav-link {
  font-weight: 700;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 40px;
}
#navbar-container .nav-link:hover, #navbar-container .nav-link:active {
  color: var(--orange);
}
#navbar-container .nav-link .icon-container {
  width: 22px;
  height: 22px;
}
#navbar-container .nav-link .navbar-index {
  margin-left: 16.85px;
}
#navbar-container .main-btn-style {
  width: 100%;
  color: var(--white);
  background-color: var(--orange);
  height: 46px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-top: -16px;
}
#navbar-container .main-btn-style:hover, #navbar-container .main-btn-style:active {
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}

.main-wrapper {
  width: 639px;
  margin-right: 21px;
  margin-left: 24px;
}

#navpillHeader-container {
  width: 100%;
  height: 75px;
  border: 1px solid var(--borderColor);
  padding: 0 25px;
  display: flex;
  align-items: center;
}
#navpillHeader-container .arrow-icon {
  width: 17px;
  height: 14px;
  margin-right: 19px;
}
#navpillHeader-container .navpillHeader-title {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}
#navpillHeader-container .navpill-info-container {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: var(--messageTextColor);
}

#writtingTweet-container {
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 0 25px;
}
#writtingTweet-container .writtingTweet-pannel {
  width: 100%;
  padding: 16px 0;
}
#writtingTweet-container .writtingTweet-pannel .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#writtingTweet-container .writtingTweet-pannel .user-writing-post-form {
  position: relative;
  display: flex;
  flex-grow: 1;
}
#writtingTweet-container .writtingTweet-pannel .user-writting-post {
  border: none;
  width: 100%;
  height: 136px;
  padding: 1rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--messageTextColor);
}
#writtingTweet-container .writtingTweet-pannel .second-btn-style {
  width: 64px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
  height: 40px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#writtingTweet-container .writtingTweet-pannel .second-btn-style:hover, #writtingTweet-container .writtingTweet-pannel .second-btn-style:active {
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}

.user-post-under-line {
  width: 100%;
  height: 3px;
  background-color: var(--borderColor);
}

#recommendColumn-container {
  width: 273px;
  height: 731px;
  margin-top: 16px;
  border-radius: 16px;
  background-color: var(--recommendBgColor);
}
#recommendColumn-container .recommendHeader {
  width: 100%;
  height: 74px;
  border-bottom: 1px solid var(--borderColor);
  background-color: var(--recommendBgColor);
  padding: 24px;
  display: flex;
  align-items: center;
}
#recommendColumn-container .recommendHeader h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  background-color: var(--recommendBgColor);
}
#recommendColumn-container .recommendAccount-panel {
  width: 100%;
}
#recommendColumn-container .recommendAccount-panel .recommendAccount-element {
  padding: 16px;
  background-color: var(--recommendBgColor);
  position: relative;
}
#recommendColumn-container .recommendAccount-panel .recommendAccount-element .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
}
#recommendColumn-container .recommendAccount-panel .recommendAccount-element .empty-btn-style {
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
  height: 40px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
}
#recommendColumn-container .recommendAccount-panel .recommendAccount-element .empty-btn-style:hover, #recommendColumn-container .recommendAccount-panel .recommendAccount-element .empty-btn-style:active {
  color: var(--white);
  background-color: var(--orange);
}

.user-acount-for-post,
.post-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--messageTextColor);
}

.tweet-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #171725;
}

#tweet-element-container,
#user-post-list-container,
#user-like-list-container {
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 16px 24px;
  display: flex;
  flex-direction: row;
}
#tweet-element-container .user-headshot,
#user-post-list-container .user-headshot,
#user-like-list-container .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#tweet-element-container .tweet-icon-show-pannel,
#user-post-list-container .tweet-icon-show-pannel,
#user-like-list-container .tweet-icon-show-pannel {
  width: 100%;
  height: 14px;
}
#tweet-element-container .tweet-icon-show-pannel .tweet-icon-show,
#user-post-list-container .tweet-icon-show-pannel .tweet-icon-show,
#user-like-list-container .tweet-icon-show-pannel .tweet-icon-show {
  width: 13.17px;
  height: 13.17px;
}
#tweet-element-container .tweet-icon-show-pannel .reply-number,
#tweet-element-container .tweet-icon-show-pannel .like-number,
#user-post-list-container .tweet-icon-show-pannel .reply-number,
#user-post-list-container .tweet-icon-show-pannel .like-number,
#user-like-list-container .tweet-icon-show-pannel .reply-number,
#user-like-list-container .tweet-icon-show-pannel .like-number {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: var(--messageTextColor);
}

#reply-post-container {
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 16px 16px 0 16px;
}
#reply-post-container .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#reply-post-container .tweet-content {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}
#reply-post-container .tweet-post-time-pannel {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: var(--messageTextColor);
}
#reply-post-container .reply-like-number-container {
  height: 60px;
  align-items: center;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  color: var(--messageTextColor);
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
}
#reply-post-container .reply-like-number-container .tweet-reply-number,
#reply-post-container .reply-like-number-container .tweet-like-number {
  color: var(--black);
}
#reply-post-container .tweet-icon-show-pannel {
  width: 100%;
  height: 68px;
  align-items: center;
}
#reply-post-container .tweet-icon-show-pannel .tweet-icon-show {
  width: 25px;
  height: 25px;
}
#reply-post-container .tweet-icon-show-pannel .like-icon {
  margin-left: 133px;
}

#reply-post-list-container,
#user-reply-list-container {
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 16px 23px;
  display: flex;
}
#reply-post-list-container .user-headshot,
#user-reply-list-container .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#reply-post-list-container .reply-to-who-container,
#user-reply-list-container .reply-to-who-container {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--messageTextColor);
}
#reply-post-list-container .tweet-content,
#user-reply-list-container .tweet-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--contentTextColor);
}
#reply-post-list-container .reply-to-who-acount,
#user-reply-list-container .reply-to-who-acount {
  color: var(--orange);
}

#userProfile-container {
  width: 100%;
  height: 378px;
  position: relative;
  border: 1px solid var(--borderColor);
}
#userProfile-container .profile-background-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#userProfile-container .profile-headshot {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 4px solid var(--white);
  position: absolute;
  left: 16px;
  top: 124px;
}
#userProfile-container .profile-info-container {
  padding: 16px 16px 0 16px;
}
#userProfile-container .profile-info-container .empty-btn-style {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
  height: 40px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
}
#userProfile-container .profile-info-container .empty-btn-style:hover, #userProfile-container .profile-info-container .empty-btn-style:active {
  color: var(--white);
  background-color: var(--orange);
}
#userProfile-container .profile-info-container .profile-btn {
  width: 40px;
  height: 40px;
}
#userProfile-container .profile-info-container .user-describe {
  color: var(--contentTextColor);
  margin-top: 6px;
}
#userProfile-container .profile-info-container .user-describe,
#userProfile-container .profile-info-container .user-follow-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
#userProfile-container .profile-info-container .following-number,
#userProfile-container .profile-info-container .follower-number {
  color: var(--messageTextColor);
}

#navpillUser-container {
  width: 100%;
  border: 1px solid var(--borderColor);
}
#navpillUser-container .navpill-title-container {
  width: 130px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#navpillUser-container .navpill-title-container:hover::after, #navpillUser-container .navpill-title-container:active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 0.5px;
  background: var(--orange);
}
#navpillUser-container .navpill-title-container:hover .navpill-title, #navpillUser-container .navpill-title-container:active .navpill-title {
  color: var(--orange);
}
#navpillUser-container .navpill-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: var(--secondaryTextColor);
}

#user-follower-list-container {
  width: 100%;
  border: 1px solid var(--borderColor);
  padding: 16px 30px 16px 23px;
  display: flex;
  flex-direction: row;
  position: relative;
}
#user-follower-list-container .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#user-follower-list-container .user-name {
  margin-top: 7px;
}
#user-follower-list-container .tweet-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--contentTextColor);
}
#user-follower-list-container .empty-btn-style {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
  height: 40px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
}
#user-follower-list-container .empty-btn-style:hover, #user-follower-list-container .empty-btn-style:active {
  color: var(--white);
  background-color: var(--orange);
}

#setting-form-container {
  width: 639px;
  height: 100vh;
  border: 1px solid var(--borderColor);
  padding: 24px 23px 0 23px;
}
#setting-form-container .form-container {
  margin-top: 0;
}
#setting-form-container .form-element-group input {
  width: 100%;
}
#setting-form-container .main-btn-style {
  margin-top: 8px;
  width: 88px;
}

#admin-user-Profile-card {
  width: 249px;
  height: 314px;
  border-radius: 10px;
  background-color: var(--recommendBgColor);
  position: relative;
}
#admin-user-Profile-card .profile-background-img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
#admin-user-Profile-card .profile-headshot {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--white);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 64px;
}
#admin-user-Profile-card .user-acount {
  font-weight: 400;
}
#admin-user-Profile-card .user-info-icon {
  width: 23px;
  height: 23px;
}
#admin-user-Profile-card .post-amount,
#admin-user-Profile-card .like-amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
}
#admin-user-Profile-card .user-follow-info {
  color: var(--messageTextColor);
}
#admin-user-Profile-card .user-follow-info .following-number,
#admin-user-Profile-card .user-follow-info .follower-number {
  color: var(--black);
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondaryTextColor);
  opacity: 0.8;
  z-index: 999;
}

.popup-error-text {
  position: absolute;
  bottom: 3%;
  right: 15%;
  font-size: 12px;
  color: var(--red-errorSign);
  visibility: hidden;
}

.popup-error-text.show {
  visibility: visible;
}

#popup-writtingTweet-container {
  width: 634px;
  border-radius: 14px;
  margin: 56px auto 0 auto;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1000;
}
#popup-writtingTweet-container .want-reply-post-container {
  width: 100%;
  padding: 16px 24px 24px 24px;
  display: flex;
}
#popup-writtingTweet-container .want-reply-post-container .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#popup-writtingTweet-container .want-reply-post-container .reply-to-who-container {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--messageTextColor);
}
#popup-writtingTweet-container .want-reply-post-container .tweet-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--contentTextColor);
}
#popup-writtingTweet-container .want-reply-post-container .reply-to-who-acount {
  color: var(--orange);
}
#popup-writtingTweet-container .headerbox {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}
#popup-writtingTweet-container .headerbox .popup-cancel-icon {
  width: 15px;
  height: 15px;
  margin-left: 19.5px;
}
#popup-writtingTweet-container .writtingTweet-pannel {
  width: 100%;
  padding: 16px 16px 16px 24px;
}
#popup-writtingTweet-container .writtingTweet-pannel .user-headshot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#popup-writtingTweet-container .writtingTweet-pannel .user-writing-post-form {
  position: relative;
  display: flex;
  flex-grow: 1;
}
#popup-writtingTweet-container .writtingTweet-pannel .user-writting-post {
  border: none;
  width: 100%;
  height: 211px;
  padding: 1rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: var(--messageTextColor);
}
#popup-writtingTweet-container .writtingTweet-pannel .second-btn-style {
  width: 64px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
  height: 40px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#popup-writtingTweet-container .writtingTweet-pannel .second-btn-style:hover, #popup-writtingTweet-container .writtingTweet-pannel .second-btn-style:active {
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}

#popup-profile-editing-container {
  width: 634px;
  border-radius: 14px;
  margin: 56px auto 0 auto;
  background-color: var(--white);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  position: fixed;
}
#popup-profile-editing-container .headerbox {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--borderColor);
}
#popup-profile-editing-container .headerbox .popup-cancel-icon {
  width: 15px;
  height: 15px;
  margin-left: 19.5px;
}
#popup-profile-editing-container .headerbox > p {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: var(--black);
  margin-left: 36.5px;
}
#popup-profile-editing-container .headerbox .second-btn-style {
  margin-left: 375px;
  width: 64px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white);
  background-color: var(--orange);
  height: 40px;
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#popup-profile-editing-container .headerbox .second-btn-style:hover, #popup-profile-editing-container .headerbox .second-btn-style:active {
  color: var(--orange);
  background-color: var(--white);
  border: 1px solid var(--orange);
}
#popup-profile-editing-container .userProfile-editing-container {
  width: 100%;
}
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-background-img {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-background-img .profile-background-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 1;
}
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-background-img .icon-editing-background-img-pannel {
  width: 80px;
  height: 24px;
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: space-between;
}
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-background-img .icon-editing-background-img-pannel .icon-for-background-add,
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-background-img .icon-editing-background-img-pannel .icon-for-background-delete {
  width: 20px;
  height: 20px;
}
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-headshot-img,
#popup-profile-editing-container .userProfile-editing-container .profile-headshot {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 181px;
  border: 4px solid var(--white);
}
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-background-img,
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-headshot-img {
  background-color: var(--secondaryTextColor);
  opacity: 0.5;
}
#popup-profile-editing-container .userProfile-editing-container .profile-headshot {
  z-index: 3;
}
#popup-profile-editing-container .userProfile-editing-container .img-cover-for-profile-headshot-img {
  z-index: 4;
}
#popup-profile-editing-container .userProfile-editing-container .icon-for-headshot-add {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 5;
  left: 76px;
  top: 241px;
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel {
  width: 100%;
  padding: 16px;
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container {
  width: 100%;
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container .form-element-group {
  margin-bottom: 0;
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container input {
  border: none;
  width: 100%;
  height: 54px;
  background-color: var(--formBgColor);
  border-radius: 2px;
  border-bottom: 2px solid var(--secondaryTextColor);
  padding: 5px 10.55px;
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container input:hover, #popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container input:active {
  border-bottom: 2px solid var(--blue);
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container input.error {
  border-bottom: 2px solid var(--red-errorSign);
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container input.disabled {
  border-bottom: 2px solid var(--gray-disabledSign);
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container .user-introduction {
  height: 147px;
}
#popup-profile-editing-container .userProfile-editing-container .editing-form-pannel .form-container .editing-world-limit {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: var(--messageTextColor);
}/*# sourceMappingURL=style.css.map */