:root {
  --white: #ffffff;
  --black: #000000;
  --orange: #ff6600;
  --blue: #0099ff;
  --bgColor: var(--white);
  --mainColor: #1c1c1c;
  --formBgColor: #f5f8fa; 
  --secondaryTextColor: #657786;  
  --placeholderTextColor: #B5B5BE;  
  --messageTextColor: #6c757d;
  --borderColor: #e6ecf0;
  --recommendBgColor: #FAFAFB;
}
